git+https://github.com/PyCQA/astroid.git@cf5e65dc#egg=astroid
pylint-plugin-utils==0.2.4
docutils==0.14
lxml>=2.3.2
Pygments==2.2
restructuredtext_lint==1.1
MarkupSafe==0.23
babel==2.5
imagesize==1.0
jinja2==2.10
git+https://github.com/PyCQA/pylint.git@444c878e#egg=pylint
translate-toolkit==2.3
polib==1.1
whichcraft
rfc3986
singledispatch==3.4
future==0.16
